$color-primary: #91b029;
$color-primary-dark: #63791c;
$color-primary-light: #cee388;

$color-secondary: #e6a400;
$color-secondary-light: #ffd673;
$color-secondary-dark: #735200;

$color-grey: #eaeaea;

$color-light: #eaebd8;

$color-white: #ffffea;

$font-header: 'Andika New Basic', sans-serif;
$font-body: 'Barlow Condensed', sans-serif;
